siga-core/src/main/resources/wsdl/mutualidad/Integracion_Metodos_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/">
	<xs:import schemaLocation="Integracion_Metodos_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:complexType name="Integracion_DatosBancarios">
		<xs:sequence>
			<xs:element minOccurs="0" name="DC" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Entidad" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Iban" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="IdPoliza" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="NCuenta" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Oficina" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Swift" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="TipoCuenta" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_DatosBancarios" nillable="true" type="tns:Integracion_DatosBancarios"/>
	<xs:complexType name="Integracion_DatosPoliza">
		<xs:sequence>
			<xs:element minOccurs="0" name="FEfecto" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="FormaPago" type="xs:int"/>
			<xs:element minOccurs="0" name="IDPoliza" type="xs:int"/>
			<xs:element minOccurs="0" name="IdMutualista" type="xs:int"/>
			<xs:element minOccurs="0" name="OpcionesCobertura" type="xs:int"/>
			<xs:element minOccurs="0" name="TextoOtros" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_DatosPoliza" nillable="true" type="tns:Integracion_DatosPoliza"/>
	<xs:complexType name="ArrayOfIntegracion_Domicilio">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Integracion_Domicilio" nillable="true" type="tns:Integracion_Domicilio"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfIntegracion_Domicilio" nillable="true" type="tns:ArrayOfIntegracion_Domicilio"/>
	<xs:complexType name="Integracion_Domicilio">
		<xs:sequence>
			<xs:element minOccurs="0" name="Bloque" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="CP" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="DireccionContacto" type="xs:int"/>
			<xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Esc" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="IdDireccion" type="xs:int"/>
			<xs:element minOccurs="0" name="IdMutualista" type="xs:int"/>
			<xs:element minOccurs="0" name="Letra" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Movil" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Num" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Piso" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Poblacion" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Tfno" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="TipoDireccion" type="xs:int"/>
			<xs:element minOccurs="0" name="TipoDomicilio" type="xs:int"/>
			<xs:element minOccurs="0" name="TipoVia" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_Domicilio" nillable="true" type="tns:Integracion_Domicilio"/>
	<xs:complexType name="Integracion_Persona">
		<xs:sequence>
			<xs:element minOccurs="0" name="Apellido1" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Apellido2" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="AsistenciaSanitaria" type="xs:int"/>
			<xs:element minOccurs="0" name="Colegio" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="EdadesHijos" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<xs:element minOccurs="0" name="Ejerciente" type="xs:int"/>
			<xs:element minOccurs="0" name="EstadoCivil" type="xs:int"/>
			<xs:element minOccurs="0" name="FNacimiento" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="FNacimientoConyuge" nillable="true" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="IdMutualista" type="xs:int"/>
			<xs:element minOccurs="0" name="IdSolicitud" type="xs:int"/>
			<xs:element minOccurs="0" name="NIF" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Nacionalidad" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="NumColegiado" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="NumHijos" type="xs:int"/>
			<xs:element minOccurs="0" name="Profesion" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Sexo" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_Persona" nillable="true" type="tns:Integracion_Persona"/>
	<xs:complexType name="Integracion_Solicitud">
		<xs:sequence>
			<xs:element minOccurs="0" name="Fecha" type="xs:dateTime"/>
			<xs:element name="IdTipoIdentificador" type="xs:int"/>
			<xs:element name="IdTipoSolicitud" type="xs:int"/>
			<xs:element minOccurs="0" name="Origen" type="xs:int"/>
			<xs:element name="ValorEntrada" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_Solicitud" nillable="true" type="tns:Integracion_Solicitud"/>
	<xs:complexType name="Integracion_Solicitud_Estados">
		<xs:sequence>
			<xs:element minOccurs="0" name="Fecha" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="IdEstado" type="xs:short"/>
			<xs:element minOccurs="0" name="IdEstadoSolicitud" type="xs:int"/>
			<xs:element minOccurs="0" name="IdSolicitud" type="xs:int"/>
			<xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_Solicitud_Estados" nillable="true" type="tns:Integracion_Solicitud_Estados"/>
	<xs:complexType name="Integracion_Beneficiarios">
		<xs:sequence>
			<xs:element minOccurs="0" name="IdPoliza" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="IdTipoBeneficiario" type="xs:int"/>
			<xs:element minOccurs="0" name="TextoOtros" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_Beneficiarios" nillable="true" type="tns:Integracion_Beneficiarios"/>
	<xs:complexType name="Integracion_Solicitud_Respuesta">
		<xs:sequence>
			<xs:element minOccurs="0" name="IdSolicitud" type="xs:int"/>
			<xs:element minOccurs="0" name="IdSolicitudRespuesta" type="xs:int"/>
			<xs:element minOccurs="0" name="N_Mutualista" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="PDF" nillable="true" type="xs:base64Binary"/>
			<xs:element minOccurs="0" name="ValorRespuesta" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_Solicitud_Respuesta" nillable="true" type="tns:Integracion_Solicitud_Respuesta"/>
	<xs:complexType name="ArrayOfIntegracion_ColegiadosBloque">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Integracion_ColegiadosBloque" nillable="true" type="tns:Integracion_ColegiadosBloque"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfIntegracion_ColegiadosBloque" nillable="true" type="tns:ArrayOfIntegracion_ColegiadosBloque"/>
	<xs:complexType name="Integracion_ColegiadosBloque">
		<xs:sequence>
			<xs:element minOccurs="0" name="DatosBancarios" nillable="true" type="tns:Integracion_DatosBancarios"/>
			<xs:element minOccurs="0" name="DatosBeneficiarios" nillable="true" type="tns:Integracion_Beneficiarios"/>
			<xs:element minOccurs="0" name="DatosDomicilio" nillable="true" type="tns:ArrayOfIntegracion_Domicilio"/>
			<xs:element minOccurs="0" name="DatosPersona" nillable="true" type="tns:Integracion_Persona"/>
			<xs:element minOccurs="0" name="DatosPoliza" nillable="true" type="tns:Integracion_DatosPoliza"/>
			<xs:element minOccurs="0" name="DatosSolicitud" nillable="true" type="tns:Integracion_Solicitud"/>
			<xs:element minOccurs="0" name="DatosSolicitudEstados" nillable="true" type="tns:Integracion_Solicitud_Estados"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_ColegiadosBloque" nillable="true" type="tns:Integracion_ColegiadosBloque"/>
	<xs:complexType name="ArrayOfIntegracion_Solicitud_Respuesta">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Integracion_Solicitud_Respuesta" nillable="true" type="tns:Integracion_Solicitud_Respuesta"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfIntegracion_Solicitud_Respuesta" nillable="true" type="tns:ArrayOfIntegracion_Solicitud_Respuesta"/>
	<xs:complexType name="ArrayOfIntegracion_Documentos">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Integracion_Documentos" nillable="true" type="tns:Integracion_Documentos"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfIntegracion_Documentos" nillable="true" type="tns:ArrayOfIntegracion_Documentos"/>
	<xs:complexType name="Integracion_Documentos">
		<xs:sequence>
			<xs:element minOccurs="0" name="Documento" nillable="true" type="xs:base64Binary"/>
			<xs:element minOccurs="0" name="IdSolicitud" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="Id_TipoDocumento" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_Documentos" nillable="true" type="tns:Integracion_Documentos"/>
	<xs:complexType name="Integracion_CuotaYCapitalObjetivoJubilacion">
		<xs:sequence>
			<xs:element minOccurs="0" name="CapitalObjetivo" type="xs:double"/>
			<xs:element minOccurs="0" name="Cuota" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_CuotaYCapitalObjetivoJubilacion" nillable="true" type="tns:Integracion_CuotaYCapitalObjetivoJubilacion"/>
	<xs:complexType name="IntegracionEnumsCombos">
		<xs:sequence>
			<xs:element minOccurs="0" name="AsistenciaSanitaria" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
			<xs:element minOccurs="0" name="DesignacionBeneficiarios" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
			<xs:element minOccurs="0" name="Ejerciente" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
			<xs:element minOccurs="0" name="EstadosCiviles" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
			<xs:element minOccurs="0" name="FormaPago" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
			<xs:element minOccurs="0" name="OpcionesCoberturas" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
			<xs:element minOccurs="0" name="Sexos" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
			<xs:element minOccurs="0" name="TiposDireccion" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
			<xs:element minOccurs="0" name="TiposDomicilio" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
			<xs:element minOccurs="0" name="TiposIdentificador" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="IntegracionEnumsCombos" nillable="true" type="tns:IntegracionEnumsCombos"/>
	<xs:complexType name="ArrayOfIntegracion_TextoValor">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Integracion_TextoValor" nillable="true" type="tns:Integracion_TextoValor"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfIntegracion_TextoValor" nillable="true" type="tns:ArrayOfIntegracion_TextoValor"/>
	<xs:complexType name="Integracion_TextoValor">
		<xs:sequence>
			<xs:element minOccurs="0" name="Opcion" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Valor" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Integracion_TextoValor" nillable="true" type="tns:Integracion_TextoValor"/>
</xs:schema>