siga-core/src/main/resources/wsdl/mutualidad/Integracion_Metodos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="Integracion_Metodos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Microsoft.ServiceModel.Samples" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsp:Policy wsu:Id="WSHttpBinding_IIntegracion_Metodos_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict/>
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
				<wsaw:UsingAddressing/>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:import namespace="http://Microsoft.ServiceModel.Samples" location="Integracion_Metodos_1.wsdl"/>
	<wsdl:types/>
	<wsdl:binding name="WSHttpBinding_IIntegracion_Metodos" type="i0:IIntegracion_Metodos">
		<wsp:PolicyReference URI="#WSHttpBinding_IIntegracion_Metodos_policy"/>
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="MGASolicitudPolizaProfesional">
			<soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaProfesional" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MGASolicitudPolizaAccuGratuitos">
			<soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaAccuGratuitos" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MGASolicitudPolizaAccuGratuitosBloque">
			<soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaAccuGratuitosBloque" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EstadoSolicitud">
			<soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/EstadoSolicitud" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EstadoMutualista">
			<soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/EstadoMutualista" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InsertarEnPersonasPorSolicitud">
			<soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/InsertarEnPersonasPorSolicitud" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InsertarDocumentosASolicitud">
			<soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/InsertarDocumentosASolicitud" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ListEstadoMutualista">
			<soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/ListEstadoMutualista" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerCuotaYCapObjetivo">
			<soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/ObtenerCuotaYCapObjetivo" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEnums">
			<soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/GetEnums" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Integracion_Metodos">
		<wsdl:port name="WSHttpBinding_IIntegracion_Metodos" binding="tns:WSHttpBinding_IIntegracion_Metodos">
			<soap12:address location="https://www.mutualidadabogacia.net/IntegracionColegiosDesarrollo/Integracion_Metodos.svc"/>
			<wsa10:EndpointReference>
				<wsa10:Address>https://www.mutualidadabogacia.net/IntegracionColegiosDesarrollo/Integracion_Metodos.svc</wsa10:Address>
				<Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
					<Dns>www.mutualidadabogacia.com</Dns>
				</Identity>
			</wsa10:EndpointReference>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>