siga-core/src/main/resources/wsdl/mutualidad/Integracion_Metodos_1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsdl:types>
		<xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
			<xsd:import schemaLocation="Integracion_Metodos_0.xsd" namespace="http://Microsoft.ServiceModel.Samples"/>
			<xsd:import schemaLocation="Integracion_Metodos_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="Integracion_Metodos_2.xsd" namespace="http://schemas.datacontract.org/2004/07/"/>
			<xsd:import schemaLocation="Integracion_Metodos_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IIntegracion_Metodos_MGASolicitudPolizaProfesional_InputMessage">
		<wsdl:part name="parameters" element="tns:MGASolicitudPolizaProfesional"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_MGASolicitudPolizaProfesional_OutputMessage">
		<wsdl:part name="parameters" element="tns:MGASolicitudPolizaProfesionalResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitos_InputMessage">
		<wsdl:part name="parameters" element="tns:MGASolicitudPolizaAccuGratuitos"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitos_OutputMessage">
		<wsdl:part name="parameters" element="tns:MGASolicitudPolizaAccuGratuitosResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitosBloque_InputMessage">
		<wsdl:part name="parameters" element="tns:MGASolicitudPolizaAccuGratuitosBloque"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitosBloque_OutputMessage">
		<wsdl:part name="parameters" element="tns:MGASolicitudPolizaAccuGratuitosBloqueResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_EstadoSolicitud_InputMessage">
		<wsdl:part name="parameters" element="tns:EstadoSolicitud"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_EstadoSolicitud_OutputMessage">
		<wsdl:part name="parameters" element="tns:EstadoSolicitudResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_EstadoMutualista_InputMessage">
		<wsdl:part name="parameters" element="tns:EstadoMutualista"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_EstadoMutualista_OutputMessage">
		<wsdl:part name="parameters" element="tns:EstadoMutualistaResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_InsertarEnPersonasPorSolicitud_InputMessage">
		<wsdl:part name="parameters" element="tns:InsertarEnPersonasPorSolicitud"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_InsertarEnPersonasPorSolicitud_OutputMessage">
		<wsdl:part name="parameters" element="tns:InsertarEnPersonasPorSolicitudResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_InsertarDocumentosASolicitud_InputMessage">
		<wsdl:part name="parameters" element="tns:InsertarDocumentosASolicitud"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_InsertarDocumentosASolicitud_OutputMessage">
		<wsdl:part name="parameters" element="tns:InsertarDocumentosASolicitudResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_ListEstadoMutualista_InputMessage">
		<wsdl:part name="parameters" element="tns:ListEstadoMutualista"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_ListEstadoMutualista_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListEstadoMutualistaResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_ObtenerCuotaYCapObjetivo_InputMessage">
		<wsdl:part name="parameters" element="tns:ObtenerCuotaYCapObjetivo"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_ObtenerCuotaYCapObjetivo_OutputMessage">
		<wsdl:part name="parameters" element="tns:ObtenerCuotaYCapObjetivoResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_GetEnums_InputMessage">
		<wsdl:part name="parameters" element="tns:GetEnums"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_GetEnums_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetEnumsResponse"/>
	</wsdl:message>
	<wsdl:portType name="IIntegracion_Metodos">
		<wsdl:operation name="MGASolicitudPolizaProfesional">
			<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaProfesional" message="tns:IIntegracion_Metodos_MGASolicitudPolizaProfesional_InputMessage"/>
			<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaProfesionalResponse" message="tns:IIntegracion_Metodos_MGASolicitudPolizaProfesional_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="MGASolicitudPolizaAccuGratuitos">
			<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaAccuGratuitos" message="tns:IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitos_InputMessage"/>
			<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaAccuGratuitosResponse" message="tns:IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitos_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="MGASolicitudPolizaAccuGratuitosBloque">
			<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaAccuGratuitosBloque" message="tns:IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitosBloque_InputMessage"/>
			<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaAccuGratuitosBloqueResponse" message="tns:IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitosBloque_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="EstadoSolicitud">
			<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/EstadoSolicitud" message="tns:IIntegracion_Metodos_EstadoSolicitud_InputMessage"/>
			<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/EstadoSolicitudResponse" message="tns:IIntegracion_Metodos_EstadoSolicitud_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="EstadoMutualista">
			<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/EstadoMutualista" message="tns:IIntegracion_Metodos_EstadoMutualista_InputMessage"/>
			<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/EstadoMutualistaResponse" message="tns:IIntegracion_Metodos_EstadoMutualista_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="InsertarEnPersonasPorSolicitud">
			<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/InsertarEnPersonasPorSolicitud" message="tns:IIntegracion_Metodos_InsertarEnPersonasPorSolicitud_InputMessage"/>
			<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/InsertarEnPersonasPorSolicitudResponse" message="tns:IIntegracion_Metodos_InsertarEnPersonasPorSolicitud_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="InsertarDocumentosASolicitud">
			<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/InsertarDocumentosASolicitud" message="tns:IIntegracion_Metodos_InsertarDocumentosASolicitud_InputMessage"/>
			<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/InsertarDocumentosASolicitudResponse" message="tns:IIntegracion_Metodos_InsertarDocumentosASolicitud_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListEstadoMutualista">
			<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/ListEstadoMutualista" message="tns:IIntegracion_Metodos_ListEstadoMutualista_InputMessage"/>
			<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/ListEstadoMutualistaResponse" message="tns:IIntegracion_Metodos_ListEstadoMutualista_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerCuotaYCapObjetivo">
			<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/ObtenerCuotaYCapObjetivo" message="tns:IIntegracion_Metodos_ObtenerCuotaYCapObjetivo_InputMessage"/>
			<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/ObtenerCuotaYCapObjetivoResponse" message="tns:IIntegracion_Metodos_ObtenerCuotaYCapObjetivo_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetEnums">
			<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/GetEnums" message="tns:IIntegracion_Metodos_GetEnums_InputMessage"/>
			<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/GetEnumsResponse" message="tns:IIntegracion_Metodos_GetEnums_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>