siga-core/src/main/resources/wsdl/mutualidad/Integracion_Metodos_2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" targetNamespace="http://Microsoft.ServiceModel.Samples">
	<wsdl:types>
		<xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
			<xsd:import schemaLocation="Integracion_Metodos_0.xsd" namespace="http://Microsoft.ServiceModel.Samples"/>
			<xsd:import schemaLocation="Integracion_Metodos_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="Integracion_Metodos_2.xsd" namespace="http://schemas.datacontract.org/2004/07/"/>
			<xsd:import schemaLocation="Integracion_Metodos_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IIntegracion_Metodos_MGASolicitudPolizaProfesional_InputMessage">
		<wsdl:part name="parameters" element="tns:MGASolicitudPolizaProfesional"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_MGASolicitudPolizaProfesional_OutputMessage">
		<wsdl:part name="parameters" element="tns:MGASolicitudPolizaProfesionalResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitos_InputMessage">
		<wsdl:part name="parameters" element="tns:MGASolicitudPolizaAccuGratuitos"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitos_OutputMessage">
		<wsdl:part name="parameters" element="tns:MGASolicitudPolizaAccuGratuitosResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_EstadoSolicitud_InputMessage">
		<wsdl:part name="parameters" element="tns:EstadoSolicitud"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_EstadoSolicitud_OutputMessage">
		<wsdl:part name="parameters" element="tns:EstadoSolicitudResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_EstadoMutualista_InputMessage">
		<wsdl:part name="parameters" element="tns:EstadoMutualista"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_EstadoMutualista_OutputMessage">
		<wsdl:part name="parameters" element="tns:EstadoMutualistaResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_ObtenerCuotaYCapObjetivo_InputMessage">
		<wsdl:part name="parameters" element="tns:ObtenerCuotaYCapObjetivo"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_ObtenerCuotaYCapObjetivo_OutputMessage">
		<wsdl:part name="parameters" element="tns:ObtenerCuotaYCapObjetivoResponse"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_GetEnums_InputMessage">
		<wsdl:part name="parameters" element="tns:GetEnums"/>
	</wsdl:message>
	<wsdl:message name="IIntegracion_Metodos_GetEnums_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetEnumsResponse"/>
	</wsdl:message>
	<wsdl:portType name="IIntegracion_Metodos">
		<wsdl:operation name="MGASolicitudPolizaProfesional">
			<wsdl:input message="tns:IIntegracion_Metodos_MGASolicitudPolizaProfesional_InputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaProfesional"/>
			<wsdl:output message="tns:IIntegracion_Metodos_MGASolicitudPolizaProfesional_OutputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaProfesionalResponse"/>
		</wsdl:operation>
		<wsdl:operation name="MGASolicitudPolizaAccuGratuitos">
			<wsdl:input message="tns:IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitos_InputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaAccuGratuitos"/>
			<wsdl:output message="tns:IIntegracion_Metodos_MGASolicitudPolizaAccuGratuitos_OutputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/MGASolicitudPolizaAccuGratuitosResponse"/>
		</wsdl:operation>
		<wsdl:operation name="EstadoSolicitud">
			<wsdl:input message="tns:IIntegracion_Metodos_EstadoSolicitud_InputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/EstadoSolicitud"/>
			<wsdl:output message="tns:IIntegracion_Metodos_EstadoSolicitud_OutputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/EstadoSolicitudResponse"/>
		</wsdl:operation>
		<wsdl:operation name="EstadoMutualista">
			<wsdl:input message="tns:IIntegracion_Metodos_EstadoMutualista_InputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/EstadoMutualista"/>
			<wsdl:output message="tns:IIntegracion_Metodos_EstadoMutualista_OutputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/EstadoMutualistaResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerCuotaYCapObjetivo">
			<wsdl:input message="tns:IIntegracion_Metodos_ObtenerCuotaYCapObjetivo_InputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/ObtenerCuotaYCapObjetivo"/>
			<wsdl:output message="tns:IIntegracion_Metodos_ObtenerCuotaYCapObjetivo_OutputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/ObtenerCuotaYCapObjetivoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetEnums">
			<wsdl:input message="tns:IIntegracion_Metodos_GetEnums_InputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/GetEnums"/>
			<wsdl:output message="tns:IIntegracion_Metodos_GetEnums_OutputMessage" wsaw:Action="http://Microsoft.ServiceModel.Samples/IIntegracion_Metodos/GetEnumsResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
