siga-core/src/main/resources/wsdl/mutualidad/Integracion_Metodos_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Microsoft.ServiceModel.Samples">
	<xs:import schemaLocation="Integracion_Metodos_2.xsd" namespace="http://schemas.datacontract.org/2004/07/"/>
	<xs:element name="MGASolicitudPolizaProfesional">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DatosBancarios" nillable="true" type="q1:Integracion_DatosBancarios" xmlns:q1="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosPoliza" nillable="true" type="q2:Integracion_DatosPoliza" xmlns:q2="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosDomicilio" nillable="true" type="q3:ArrayOfIntegracion_Domicilio" xmlns:q3="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosPersona" nillable="true" type="q4:Integracion_Persona" xmlns:q4="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosSolicitud" nillable="true" type="q5:Integracion_Solicitud" xmlns:q5="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosSolicitudEstados" nillable="true" type="q6:Integracion_Solicitud_Estados" xmlns:q6="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosBeneficiarios" nillable="true" type="q7:Integracion_Beneficiarios" xmlns:q7="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MGASolicitudPolizaProfesionalResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="MGASolicitudPolizaProfesionalResult" nillable="true" type="q8:Integracion_Solicitud_Respuesta" xmlns:q8="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MGASolicitudPolizaAccuGratuitos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DatosBancarios" nillable="true" type="q9:Integracion_DatosBancarios" xmlns:q9="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosPoliza" nillable="true" type="q10:Integracion_DatosPoliza" xmlns:q10="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosDomicilio" nillable="true" type="q11:ArrayOfIntegracion_Domicilio" xmlns:q11="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosPersona" nillable="true" type="q12:Integracion_Persona" xmlns:q12="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosSolicitud" nillable="true" type="q13:Integracion_Solicitud" xmlns:q13="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosSolicitudEstados" nillable="true" type="q14:Integracion_Solicitud_Estados" xmlns:q14="http://schemas.datacontract.org/2004/07/"/>
				<xs:element minOccurs="0" name="DatosBeneficiarios" nillable="true" type="q15:Integracion_Beneficiarios" xmlns:q15="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MGASolicitudPolizaAccuGratuitosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="MGASolicitudPolizaAccuGratuitosResult" nillable="true" type="q16:Integracion_Solicitud_Respuesta" xmlns:q16="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MGASolicitudPolizaAccuGratuitosBloque">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ColegiadosBloque" nillable="true" type="q17:ArrayOfIntegracion_ColegiadosBloque" xmlns:q17="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MGASolicitudPolizaAccuGratuitosBloqueResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="MGASolicitudPolizaAccuGratuitosBloqueResult" nillable="true" type="q18:ArrayOfIntegracion_Solicitud_Respuesta" xmlns:q18="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EstadoSolicitud">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="IdSolicitud" type="xs:long"/>
				<xs:element minOccurs="0" name="QuiereCertificado" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EstadoSolicitudResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="EstadoSolicitudResult" nillable="true" type="q19:Integracion_Solicitud_Respuesta" xmlns:q19="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EstadoMutualista">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="NIF" nillable="true" type="xs:string"/>
				<xs:element minOccurs="0" name="FNacimiento" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EstadoMutualistaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="EstadoMutualistaResult" nillable="true" type="q20:Integracion_Solicitud_Respuesta" xmlns:q20="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsertarEnPersonasPorSolicitud">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="idSolicitud" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsertarEnPersonasPorSolicitudResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="InsertarEnPersonasPorSolicitudResult" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsertarDocumentosASolicitud">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="Documentos" nillable="true" type="q21:ArrayOfIntegracion_Documentos" xmlns:q21="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsertarDocumentosASolicitudResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="InsertarDocumentosASolicitudResult" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListEstadoMutualista">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="NIF" nillable="true" type="xs:string"/>
				<xs:element minOccurs="0" name="FNacimiento" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListEstadoMutualistaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ListEstadoMutualistaResult" nillable="true" type="q22:ArrayOfIntegracion_Solicitud_Respuesta" xmlns:q22="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObtenerCuotaYCapObjetivo">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="Sexo" type="xs:int"/>
				<xs:element minOccurs="0" name="Cobertura" type="xs:int"/>
				<xs:element minOccurs="0" name="FNacimiento" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObtenerCuotaYCapObjetivoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ObtenerCuotaYCapObjetivoResult" nillable="true" type="q23:Integracion_CuotaYCapitalObjetivoJubilacion" xmlns:q23="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetEnums">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetEnumsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetEnumsResult" nillable="true" type="q24:IntegracionEnumsCombos" xmlns:q24="http://schemas.datacontract.org/2004/07/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>