siga-core/src/main/resources/wsdl/alterMutua/alterMutua.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.altermutua.com/WSSIGA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.altermutua.com/WSSIGA">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Web Service creado con la finalidad de integrar telematicamente los procesos informaticos del CGAE y Alter Mutua.
</wsdl:documentation>
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.altermutua.com/WSSIGA">
<s:element name="SetSolicitudAlter">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="wsSolicitud" type="tns:WSSolicitud"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="WSSolicitud">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="IdPaquete" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Asegurado" type="tns:WSAsegurado"/>
<s:element minOccurs="0" maxOccurs="unbounded" name="Herederos" nillable="true" type="tns:WSPersona"/>
<s:element minOccurs="1" maxOccurs="1" name="Observaciones" nillable="true" type="s:string"/>
</s:sequence>
</s:complexType>
<s:complexType name="WSAsegurado">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="TipoIdentificador" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Identificador" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Sexo" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="EstadoCivil" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Direccion" type="tns:WSDireccion"/>
<s:element minOccurs="0" maxOccurs="1" name="CuentaBancaria" type="tns:WSCuentaBancaria"/>
<s:element minOccurs="0" maxOccurs="1" name="Colegio" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="TipoEjercicio" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="TipoComunicacion" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Idioma" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Publicidad" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="unbounded" name="Familiares" nillable="true" type="tns:WSPersona"/>
</s:sequence>
</s:complexType>
<s:complexType name="WSDireccion">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="TipoDireccion" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="DireccionPostal" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CodigoPostal" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Poblacion" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Provincia" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Telefono1" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Telefono2" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Movil" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
</s:sequence>
</s:complexType>
<s:complexType name="WSCuentaBancaria">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Entidad" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Sucursal" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="DC" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="IBAN" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="SWIFT" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Cuenta" type="s:string"/>
</s:sequence>
</s:complexType>
<s:complexType name="WSPersona">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="TipoIdentificador" nillable="true" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Identificador" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Parentesco" nillable="true" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Sexo" nillable="true" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" nillable="true" type="s:dateTime"/>
</s:sequence>
</s:complexType>
<s:element name="SetSolicitudAlterResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="SetSolicitudAlterResult" type="tns:WSRespuesta"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="WSRespuesta">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Identificador" nillable="true" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:base64Binary"/>
<s:element minOccurs="1" maxOccurs="1" name="Error" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Propuestas" type="tns:ArrayOfWSPropuesta"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfWSPropuesta">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="WSPropuesta" nillable="true" type="tns:WSPropuesta"/>
</s:sequence>
</s:complexType>
<s:complexType name="WSPropuesta">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="IdPaquete" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Tarifa" type="s:decimal"/>
<s:element minOccurs="0" maxOccurs="1" name="Breve" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Familiares" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="Herederos" type="s:boolean"/>
</s:sequence>
</s:complexType>
<s:element name="Credenciales" type="tns:Credenciales"/>
<s:complexType name="Credenciales">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string"/>
</s:sequence>
<s:anyAttribute/>
</s:complexType>
<s:element name="GetEstadoSolicitud">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="intIdSolicitud" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="bolDuplicado" type="s:boolean"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetEstadoSolicitudResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetEstadoSolicitudResult" type="tns:WSRespuesta"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetTarifaSolicitud">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="wsSolicitud" type="tns:WSSolicitud"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetTarifaSolicitudResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetTarifaSolicitudResult" type="tns:WSRespuesta"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetEstadoColegiado">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="intTipoIdentificador" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="strIdentificador" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetEstadoColegiadoResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetEstadoColegiadoResult" type="tns:WSRespuesta"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetPropuestas">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="intTipoIdentificador" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="strIdentificador" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="dtFechaNacimiento" type="s:dateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="intSexo" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="intTipoPropuesta" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetPropuestasResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetPropuestasResult" type="tns:WSRespuesta"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="SetSolicitudAlterSoapIn">
<wsdl:part name="parameters" element="tns:SetSolicitudAlter"/>
</wsdl:message>
<wsdl:message name="SetSolicitudAlterSoapOut">
<wsdl:part name="parameters" element="tns:SetSolicitudAlterResponse"/>
</wsdl:message>
<wsdl:message name="SetSolicitudAlterCredenciales">
<wsdl:part name="Credenciales" element="tns:Credenciales"/>
</wsdl:message>
<wsdl:message name="GetEstadoSolicitudSoapIn">
<wsdl:part name="parameters" element="tns:GetEstadoSolicitud"/>
</wsdl:message>
<wsdl:message name="GetEstadoSolicitudSoapOut">
<wsdl:part name="parameters" element="tns:GetEstadoSolicitudResponse"/>
</wsdl:message>
<wsdl:message name="GetEstadoSolicitudCredenciales">
<wsdl:part name="Credenciales" element="tns:Credenciales"/>
</wsdl:message>
<wsdl:message name="GetTarifaSolicitudSoapIn">
<wsdl:part name="parameters" element="tns:GetTarifaSolicitud"/>
</wsdl:message>
<wsdl:message name="GetTarifaSolicitudSoapOut">
<wsdl:part name="parameters" element="tns:GetTarifaSolicitudResponse"/>
</wsdl:message>
<wsdl:message name="GetTarifaSolicitudCredenciales">
<wsdl:part name="Credenciales" element="tns:Credenciales"/>
</wsdl:message>
<wsdl:message name="GetEstadoColegiadoSoapIn">
<wsdl:part name="parameters" element="tns:GetEstadoColegiado"/>
</wsdl:message>
<wsdl:message name="GetEstadoColegiadoSoapOut">
<wsdl:part name="parameters" element="tns:GetEstadoColegiadoResponse"/>
</wsdl:message>
<wsdl:message name="GetEstadoColegiadoCredenciales">
<wsdl:part name="Credenciales" element="tns:Credenciales"/>
</wsdl:message>
<wsdl:message name="GetPropuestasSoapIn">
<wsdl:part name="parameters" element="tns:GetPropuestas"/>
</wsdl:message>
<wsdl:message name="GetPropuestasSoapOut">
<wsdl:part name="parameters" element="tns:GetPropuestasResponse"/>
</wsdl:message>
<wsdl:message name="GetPropuestasCredenciales">
<wsdl:part name="Credenciales" element="tns:Credenciales"/>
</wsdl:message>
<wsdl:portType name="WSSIGASoap">
<wsdl:operation name="SetSolicitudAlter">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Mediante este metodo se envia la informacion necesaria para proceder al alta de la solicitud y se obtiene un identificador de la solicitud y un certificado.
</wsdl:documentation>
<wsdl:input message="tns:SetSolicitudAlterSoapIn"/>
<wsdl:output message="tns:SetSolicitudAlterSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetEstadoSolicitud">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Mediante este metodo se gestiona el estado de las solicitudes y opcionalmente se obtiene un duplicado del certificado.
</wsdl:documentation>
<wsdl:input message="tns:GetEstadoSolicitudSoapIn"/>
<wsdl:output message="tns:GetEstadoSolicitudSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetTarifaSolicitud">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Mediante este metodo se obtiene la tarifa a pagar por una solicitud.
</wsdl:documentation>
<wsdl:input message="tns:GetTarifaSolicitudSoapIn"/>
<wsdl:output message="tns:GetTarifaSolicitudSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetEstadoColegiado">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Mediante este metodo se gestiona el estado del colegiado.
</wsdl:documentation>
<wsdl:input message="tns:GetEstadoColegiadoSoapIn"/>
<wsdl:output message="tns:GetEstadoColegiadoSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetPropuestas">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Mediante este metodo se obtienen las propuestas que el colegiado puede contratar.
</wsdl:documentation>
<wsdl:input message="tns:GetPropuestasSoapIn"/>
<wsdl:output message="tns:GetPropuestasSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="WSSIGASoap" type="tns:WSSIGASoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="SetSolicitudAlter">
<soap:operation soapAction="http://www.altermutua.com/WSSIGA/SetSolicitudAlter" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
<soap:header message="tns:SetSolicitudAlterCredenciales" part="Credenciales" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
<soap:header message="tns:SetSolicitudAlterCredenciales" part="Credenciales" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetEstadoSolicitud">
<soap:operation soapAction="http://www.altermutua.com/WSSIGA/GetEstadoSolicitud" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
<soap:header message="tns:GetEstadoSolicitudCredenciales" part="Credenciales" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
<soap:header message="tns:GetEstadoSolicitudCredenciales" part="Credenciales" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetTarifaSolicitud">
<soap:operation soapAction="http://www.altermutua.com/WSSIGA/GetTarifaSolicitud" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
<soap:header message="tns:GetTarifaSolicitudCredenciales" part="Credenciales" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
<soap:header message="tns:GetTarifaSolicitudCredenciales" part="Credenciales" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetEstadoColegiado">
<soap:operation soapAction="http://www.altermutua.com/WSSIGA/GetEstadoColegiado" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
<soap:header message="tns:GetEstadoColegiadoCredenciales" part="Credenciales" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
<soap:header message="tns:GetEstadoColegiadoCredenciales" part="Credenciales" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPropuestas">
<soap:operation soapAction="http://www.altermutua.com/WSSIGA/GetPropuestas" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
<soap:header message="tns:GetPropuestasCredenciales" part="Credenciales" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
<soap:header message="tns:GetPropuestasCredenciales" part="Credenciales" use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="WSSIGASoap12" type="tns:WSSIGASoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="SetSolicitudAlter">
<soap12:operation soapAction="http://www.altermutua.com/WSSIGA/SetSolicitudAlter" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
<soap12:header message="tns:SetSolicitudAlterCredenciales" part="Credenciales" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
<soap12:header message="tns:SetSolicitudAlterCredenciales" part="Credenciales" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetEstadoSolicitud">
<soap12:operation soapAction="http://www.altermutua.com/WSSIGA/GetEstadoSolicitud" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
<soap12:header message="tns:GetEstadoSolicitudCredenciales" part="Credenciales" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
<soap12:header message="tns:GetEstadoSolicitudCredenciales" part="Credenciales" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetTarifaSolicitud">
<soap12:operation soapAction="http://www.altermutua.com/WSSIGA/GetTarifaSolicitud" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
<soap12:header message="tns:GetTarifaSolicitudCredenciales" part="Credenciales" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
<soap12:header message="tns:GetTarifaSolicitudCredenciales" part="Credenciales" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetEstadoColegiado">
<soap12:operation soapAction="http://www.altermutua.com/WSSIGA/GetEstadoColegiado" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
<soap12:header message="tns:GetEstadoColegiadoCredenciales" part="Credenciales" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
<soap12:header message="tns:GetEstadoColegiadoCredenciales" part="Credenciales" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPropuestas">
<soap12:operation soapAction="http://www.altermutua.com/WSSIGA/GetPropuestas" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
<soap12:header message="tns:GetPropuestasCredenciales" part="Credenciales" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
<soap12:header message="tns:GetPropuestasCredenciales" part="Credenciales" use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="WSSIGA">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Web Service creado con la finalidad de integrar telematicamente los procesos informaticos del CGAE y Alter Mutua.
</wsdl:documentation>
<wsdl:port name="WSSIGASoap" binding="tns:WSSIGASoap">
<soap:address location="https://www.altermutua.com/wssiga/serviciosalter.asmx"/>
</wsdl:port>
<wsdl:port name="WSSIGASoap12" binding="tns:WSSIGASoap12">
<soap12:address location="https://www.altermutua.com/wssiga/serviciosalter.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>